*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}

.header{
    width: 100%;
    height: 700px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("images/background.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 0;

}

.logo{
    object-fit:contain;
    width: 150px;
    cursor: pointer;
}

nav button, .lang-btn{
    border: 0;
    outline: 0;
    color: white;
    padding: 7px 20px;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}

.lang-btn, .SignIn-btn{
    display: inline-block;
    align-items: center;
    background: transparent;
    border: 1px solid white;
}

.SignIn-btn{
    background: #db0001;
    border: none;
    color: white;
}

.head-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px ;
}

.head-txt h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}

.head-txt h3{
    font-weight: 400;
    margin-bottom: 20px;
}

.email{
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

#mail-input{
    background-color: transparent;
    border: 1px solid white;
    height: 48px;
    margin-right: 5px;
    padding-left: 10px;
    color: white;
    border-radius: 4px;
}

.email input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}

.email button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}

.features{
    padding: 50px 12%;
    font-size: 22px;
    width: 100%;
}

.features .row{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color:white;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.txt-clm, .img-clm{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-clm img{
    display: block;
    width: 90%;
    margin:auto;
}

.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.faq{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: white;
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}

.faq h2{
    font-weight: 500;
    font-size:40px ;
}

.acc{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.acc li{
    list-style: none;
    width:100%;
    padding:5px ;
}

.acc li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: tramsform 0.5s
}

input[type="radio"]{
    display: none;
}

.acc .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
}

.acc label:hover{
    background-color: #777;
}

.acc input:active{
    overflow: visible;
    max-height: fit-content;
    /* transition: max-height, 0.5s, padding ,0.5s; */
}


.acc input [type="radio"] :checked + label + .content {
    max-height: 600px;
    padding: 30px 20px;
}

.acc input [type="radio"]:checked + label::after{
    transform: rotate(135deg);
}

.faq .email {
    max-width: 600px;
    margin: 20px auto 60px;
}

.faq small{
    font-size: 13px;
}

.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}

.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.footer .row{
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

.footer .lang-btn{
    display: inline-block;
    align-items: center;
    background: transparent;
    border: 1px solid white;
}

.copyright{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #777;
}